{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>Postium</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block header %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand-image" href="#"><img id="" src="{% static 'img/logo.svg' %}" alt="Postium"></a>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    {% block section %}{% endblock %}
</div>

</body>
</html>